<div class="">

  <div class="">
  <form class="" action="index.html" method="post">
    <ul> Create New Item
      <li>ID <br>
        <input class="input" ng-model="item.id" type="text" name="name" value=""></li>
      <li>Title <br>
        <input class="input" ng-model="item.title" type="text" name="name" value=""></li>
      <li>NAME <br>
        <input class="input" ng-model="item.name"type="text" name="name" value=""></li>
      <li>PRICE <br>
        <input class="input" ng-model="item.price"type="number" name="name" value=""></li>
      <li>Description <br>
        <textarea class="input" ng-model="item.description"type="text" name="name" value=""></textarea></li>
      <li>COLOR <br>
        <input class="input" ng-model="item.color" type="text" name="name" value=""></li>
      <li>Quantity <br>
        <input class="input" ng-model="item.quantity" type="number" name="name" value=""></li>
    </ul>
    <input   ng-click="send(item)" type="button" name="name" value="Create New Item">
  </form>
  <!--
  <form class="" action="index.html" method="post">
    <ul> Edit Item
      <li>Title<input type="text" name="name" value=""></li>
      <li>NAME<input type="text" name="name" value=""></li>
      <li>PRICE<input type="number" name="name" value=""></li>
      <li>Description<input type="text" name="name" value=""></li>
      <li>COLOR<input type="text" name="name" value=""></li>
      <li>Quantity<input type="number" name="name" value=""></li>
    </ul>
    <input type="button" name="name" value="Edit Item">
  </form>
  </div> -->

</div>
