

<section class="main">
    <div class="biglogo">
      <div>
        The All New
      </div>
      <br>
      <img src="./img/battistone/bigLogo.jpg" alt="" />
      <br>
      <div class="text">
        Freestyle
      </div>

      <div class="top button" ui-sref="shop">SHOP NOW</div>
    </div>

    <div >
      <img class="freestylepic" src="./img/battistone/freestyle.jpg" alt="" />

    </div>


</section>
<section class="container">
  <div class="a box">
    <a ui-sref="about"><img class="containerpic" class="imgsize" src="./img/court.jpg" alt="" /></a>
        <div class="span">WHO'S PLAYING THE <span class="freestyleFont">Freestyle</span>  <br></div>
        <div class="button" ui-sref="about">WHOS PLAYING</div>
  </div>
  <div class="b box">
    <a ui-sref="why2"><img class="containerpic" class="imgsize" src="./img/battistone/carousel/4.jpg" alt="" /></a>
        <div class="span">THE FUTURE OF THE GAME IS HERE</div>
        <div class="button" ui-sref="why2">LEARN MORE</div>
  </div>
  <div class="c box">
    <a ui-sref="shop"><img class="containerpic" class="imgsize" src="./img/battistone/daimond.jpg" alt="" /></a>
        <div class="span">PLAY WITH THE NEWEST TECH </div>
        <div class="button" ui-sref="shop">SHOP NOW</div>
  </div>
  <div class="d box">
    <a ui-sref="why2"><img class="containerpic" class="imgsize" src="./img/battistone/11.jpg" alt="" /></a>
        <div class="span"> NEW TECHNOLOGY NEW PLAYERS</div>
        <div class="button" ui-sref="why2">JUNIOR FREESTYLE</div>
  </div>

</section>

<!-- <div class=>


  <div class="fade">
      <div><img class="imgsize" src="./img/battistone/carousel/1.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/2.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/3.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/4.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/5.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/6.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/7.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/8.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/9.jpg" alt="" /></div>
      <div><img class="imgsize" src="./img/battistone/carousel/10.jpg" alt="" /></div>

  </div>

</div> -->
